<?xml version="1.0"?>
<!--suppress XmlUnboundNsPrefix -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="./Bootstrap.php" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.2/phpunit.xsd" cacheDirectory=".phpunit.cache">
  <testsuites>
    <testsuite name="Pine Unit Test Suite">
      <directory>./Pine/Unit</directory>
    </testsuite>
  </testsuites>
  <coverage/>
  <source>
    <include>
      <directory suffix=".php">../src</directory>
    </include>
  </source>
</phpunit>
